body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377BA8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0;}
h1              { border-bottom: 2px solid #eee; font-size: 32px; 
                  padding:15px 0 0 0; text-align:center;}
h2              { font-size: 24px; }

#flash         { background: #657383; color: #FFFFFF; width:700px;
                 text-align:center;
                 margin-top: 20px;
                 margin-left:auto; margin-right:auto;}

#wrapper {text-align:center; color: #4863A0; margin-top:15px;}
